@import url(normalise.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Shrikhand&display=swap');
@charset "UTF-8";
body {
  font-family: 'Noto Serif JP', serif;
}
a:hover {
  color: rgb(255, 170, 0);
}
header {
  background-color: rgb(163, 226, 112);
  padding: 6px;
  width: 100%;
}
h1 {
  font-family: 'Shrikhand', serif;
  font-size: 48px;
}
nav {
  display: block;
  margin-top: 10px;
}
nav a {
  text-decoration: none;
  color: rgb(0, 157, 195);
  border-right: 1px solid rgb(0, 157, 195);
  padding: 6px 10px;
}
.selected {
  border: 5px inset rgb(97, 216, 246);
  border-bottom: none;
  padding: 1px 5px 6px 6px;
}
nav a:active {
  border: 5px inset rgb(97, 216, 246);
  border-bottom: none;
  padding: 1px 5px 6px 6px;
}
main {
  background-color: rgb(255, 236, 213);
  padding: 15px
}
.introduction {
  background-color: rgb(97, 216, 246);
}
.view {
  background-color: rgb(68, 198, 231);
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  text-decoration: none;
  padding: 15px;
}
.view:active {
  box-shadow: none;
}
.download {
  background-color: rgb(163, 226, 112);
}
footer {
  background-color: rgb(97, 216, 246);
}
