@import url(normalise.css);
@charset "UTF-8";
header {
  background-color: rgb(163, 226, 112);
  margin-bottom: 0;
}
h1 {
  font-size: 24px;
  margin: 0;
}
.logo {
  top: 0
}
nav a {
  text-decoration: none;
  color: rgb(0, 157, 195);
  border-right: 1px solid rgb(0, 157, 195);
  padding: 10px;
}
main {
  background-color: rgb(255, 236, 213);
}
.introduction {
  clear: left;
  background-color: rgb(97, 216, 246);
}
.viewAll {
  background-color: #2096f3;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  padding: 15px;
}
footer {
  background-color: rgb(97, 216, 246);
}
