@import url(normalise.css);
@charset "UTF-8";
header {
  background-color: rgb(163, 226, 112);
}
h1 {
  float: left;
}
nav a {
  text-decoration: none;
  color: rgb(78, 174, 198);
}
main {
  background-color: rgb(223, 193, 158);
}
.introduction {
  clear: left;
  background-color: rgb(97, 216, 246);
}
.viewAll {
  background-color: #2096f3;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  padding: 30px;
}
footer {
  background-color: rgb(255, 158, 0);
}
