a:hover {
  color: rgb(171, 224, 119) !important;
}
header {
  color: rgb(84, 172, 37);
  background-color: rgb(255, 194, 0);
}
h1 {
  color: rgb(84, 172, 37);
}
main {
  background-color: white;
  padding: 15px
}
.introduction {
  background-color: rgb(47, 186, 95);
}
footer {
  background-color: rgb(195, 162, 118);
}
